*{
    margin: 0;
    padding: 0;
    font-family: Darker Grotesque;
}

footer {
    width: 100%;
}

.adopt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adopt-header {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.wolf-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
}

.text-container h2 {
    font-weight: 600;
    font-size: 60px;
}

.text-container h6 {
    font-weight: 600;
    font-size: 14px;
}

.adopt-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.adopt-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 30px;
    font-weight: 600;
}

.adopt-input input {
    border: none;
    border-bottom: 2px solid #ccc; 
    outline: none;
    padding: 5px 0;
    background: transparent; 
    transition: all ease-in-out 250ms;
    font-size: 30px;
}

.adopt-input input:focus {
    border-bottom-color: #007bff;
}

.age-input {
    width: 10%;
}

.name-input {
    width: 90%;
}

.submit-btn {
    color: #ffffff;
    background-color: #2c5680;
    width: 20%;
    font-size: 36px;
    padding-bottom: 8px;
    border: none;
    margin-bottom: 2rem;
    align-self: center;
}
