*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 100%;
    text-align: center;
}

/* ---- ESTILIZAÇÃO DA MAIN ---- */
main h2{
    color: #DEB959;
    font-size: 3.125rem;
}

/* ---- ESTILIZAÇÃO DA SECAO SLIDE ---- */
.secaoSlide{
    background-image: url(./assets/backgroundSlide.png);
    background-position: center;
    background-size: 110%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.secaoSlide a{
    color: white;
    font-size: 80px;
    font-weight: 800;
}

.secaoSlide p{
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    width: 40%;
}

/* ---- ESTILIZAÇÃO DA SECAO SOBRE ---- */
.secaoSobre{
    background-color: #2C5680;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20.8125rem;
    gap: 2.5rem;
}

.secaoSobre p{
    color: #FFFFFF;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 0 13.75rem;
    font-size: 1.25rem;
}

.secaoValores{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 3.125rem;
    gap: 3.125rem;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
}

.cards > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}

.cardsIcone {
    background-color: white;
    padding: 1.25rem;
    border-radius: 50%;

}
.cards h3{
    color: white;
    font-weight: 700;
}

.cards p{
    color: #FFFFFF;
    line-height: 1.25rem;
    font-weight: 400;
}

/* ---- ESTILIZAÇÃO DA SECAO EXEMPLOS ---- */
.secaoExemplos{
    background-color: white;
    padding: 3.125rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
}

.exemploLobos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
    padding-right: 6rem;
    padding-left: 6rem;
}

.cardLobo{
    height: 40vh;
    display: flex;
    flex-flow: nowrap row;  
}

#cardLobo2{
    display: flex;
    flex-direction: row-reverse;
}

.sombraCardLobo {
    position: relative;
    border-color: rgba(51,51,51);
    border-style: solid;
    border-width: 0.3vmax;
    background-color: rgb(44,86,128);
    min-width: 7.5rem;
    min-height: 11.25rem;
    width: 49.5%;
    height: 79%;
    top: 2%;
    left: 18.5%;
}

#sombraCardLobo2 {
    position: relative;
    border-color: rgba(51,51,51);
    border-style: solid;
    border-width: 0.3vmax;
    background-color: rgb(44,86,128);
    min-width: 7.5rem;
    min-height: 11.25rem;
    width: 49.5%;
    height: 79%;
    top: 2%;
    left: 33.5%;
}

.fotoCardLobo img {
    position: relative;
    top: 12%;
    right: 24.5%;
    width: 50%;
    height: 80%;
    min-width: 7.5rem;
    min-height: 11.25rem;
    z-index: 1;
}

.fotoCardLobo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.descricaoLobo {
    width: 40%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1.875rem;
}

#descricaoLobo2 {
    width: 40%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
}

.descricaoLobo p {
    text-align: left;
    font-weight: 500;
}

#descricaoLobo2 p {
    text-align: right;
    font-weight: 500;
}

.tituloLobo {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
}

#tituloLobo2 {
    align-items: flex-end;
}

.tituloLobo h4{
    font-weight: 300;
}